<div class="heads">
<header>
  <div class="top">
    <a routerLink="/forecast" style="cursor: pointer;">Weather</a>
    <a routerLink="/map" style="cursor: pointer;">Map</a>
    <a routerLink="/side" style="cursor: pointer;">Week forecast</a>
    <a routerLink="/date" style="cursor: pointer;">16 days forecast</a>
    <a routerLink="/graph" style="cursor: pointer;">Graph</a>
    <a routerLink="/update" style="cursor: pointer;">More Info</a>

  </div>
</header>
<div class="element">
  <router-outlet></router-outlet>
</div>
</div>

