.side-bar {
    display:grid;
    gap:40px;
    width:1129px;
    height:260px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content:space-between;
  }
  .sidebar-container {
      display: flex;
      flex-wrap: wrap;
    }
  .date-picker-container {
    display: flex;
    width:700px;
    height:50px;
    gap:14px;
    align-items: center;
  }
  input[type="date"] {
    font-size: 19px;
    padding:5px;
    width:190px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  /*\box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);\

  ::-webkit-datetime-edit { padding: 1em; }
::-webkit-datetime-edit-fields-wrapper { background: silver; }
::-webkit-datetime-edit-text { color: red; padding: 0 0.3em; }
::-webkit-datetime-edit-month-field { color: blue; }
::-webkit-datetime-edit-day-field { color: green; }
::-webkit-datetime-edit-year-field { color: purple; }
::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator { background: orange; }

  input[type="date"]{
    background-color: #0080ff;
    padding: 15px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-family: "Roboto Mono",monospace;
    color: #ffffff;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
} #range {
    width:80px;
    height:25px;
    font-size: 17px;
    background: burlywood;
  }
   #range:hover {
    background: blanchedalmond;
    border:2px solid rosybrown;
  }*/
#range {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(rgba(225, 184, 244, 0.84), rgba(211, 191, 239, 0.84) 50%);
  border-radius: 42px;
  width:120px;
  height:36px;
  border-width: 0;
  box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px,rgba(179, 132, 201, 0.4) 0 8px 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  font-family: Quicksand,sans-serif;
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px,rgba(255, 255, 255, 0.2) 0 0 12px,rgba(57, 31, 91, 0.6) 1px 1px 4px,rgba(57, 31, 91, 0.32) 4px 4px 16px;
  touch-action: manipulation;
  vertical-align: baseline;
}

#range:hover {
  background-image: linear-gradient(#B384C9, #391F5B 50%);
}
label {
  color:white;
  font-size: 20px;
  width:60px;
}
  .box-container {
    display: flex;
    flex-direction: column;
    overflow: hidden; 
    width: 100%; 
    position: relative; 
  }
  p {
    font-size: 27px;
    font-weight: 400;
    text-align: center;
  }
  .date {
    font-size: 25px;
    text-align: center;
  }
  .box {  
    min-width:130px;
    background:rgba(199, 187, 251, 0.741);
    height: 220px;
    border: 2px solid seashell;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
  }
  .spread {
    display: flex;
  }
  @media (max-width:789px) {
    .side-bar {
      width:400px;
      height:800px;
      background:transparent;
    }
    .sidebar-container {
      display: flex;
      justify-content: center;
    }
    .box {  
      min-width: 140px;
      height: 180px;
      border: 2px solid seashell;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 10px;
    }
    p,.date {
      font-size: 23px;
      font-weight: 400;
      text-align: center;
    }
    .date-picker-container {
      background:rgba(199, 187, 251, 0.741);
      display: flex;
      width:400px;
      height:50px;
      align-items: center;
    }
    #range {
      width:80px;
      height:25px;
      font-size: 17px;
      background: burlywood;
     }
     #range:hover {
      background: blanchedalmond;
      border:2px solid rosybrown;
     }
    label {
      display: none;
    }
  }
  @media (max-width:600px) {
    .side-bar {
      width:400px;
      height:800px;
      background:transparent;
    }
    .sidebar-container {
      display: flex;
      justify-content: center;
    }
    .box {  
      min-width: 140px;
      height: 180px;
      border: 2px solid seashell;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 10px;
    }
    p,.date {
      font-size: 23px;
      font-weight: 400;
      text-align: center;
  }
    .date-picker-container {
      background:rgba(199, 187, 251, 0.741);
      display: flex;
      width:400px;
      height:50px;
      align-items: center;
    }
    #range {
      width:80px;
      height:25px;
      font-size: 17px;
      background: burlywood;
     }
     #range:hover {
      background: blanchedalmond;
      border:2px solid rosybrown;
     }
    label {
      display: none;
    }
  }
  