.side-bar {
    display:grid;
    gap:40px;
    width:1129px;
    height:260px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content:space-between;
  }
  .sidebar-container {
      display: flex;
      flex-wrap: wrap;
    }
  .date-picker-container {
    background:rgba(199, 187, 251, 0.741);
    display: flex;
    width:600px;
    height:50px;
    align-items: center;
  }
  input[type="date"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
   #range {
    width:80px;
    height:25px;
    font-size: 17px;
    background: burlywood;
  }
   #range:hover {
    background: blanchedalmond;
    border:2px solid rosybrown;
  }
  .box-container {
    display: flex;
    flex-direction: column;
    overflow: hidden; 
    width: 100%; 
    position: relative; 
  }
  p {
    font-size: 27px;
    font-weight: 400;
    text-align: center;
  }
  .date {
    font-size: 25px;
    text-align: center;
  }
  .box {  
    min-width:130px;
    background:rgba(199, 187, 251, 0.741);
    height: 220px;
    border: 2px solid seashell;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
  }
  .spread {
    display: flex;
  }
  @media (max-width:789px) {
    .side-bar {
      width:400px;
      height:800px;
      background:transparent;
    }
    .sidebar-container {
      display: flex;
      justify-content: center;
    }
    .box {  
      min-width: 140px;
      height: 180px;
      border: 2px solid seashell;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 10px;
    }
    p,.date {
      font-size: 23px;
      font-weight: 400;
      text-align: center;
    }
    .date-picker-container {
      background:rgba(199, 187, 251, 0.741);
      display: flex;
      width:400px;
      height:50px;
      align-items: center;
    }
    #range {
      width:80px;
      height:25px;
      font-size: 17px;
      background: burlywood;
     }
     #range:hover {
      background: blanchedalmond;
      border:2px solid rosybrown;
     }
    label {
      display: none;
    }
  }
  @media (max-width:600px) {
    .side-bar {
      width:400px;
      height:800px;
      background:transparent;
    }
    .sidebar-container {
      display: flex;
      justify-content: center;
    }
    .box {  
      min-width: 140px;
      height: 180px;
      border: 2px solid seashell;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 10px;
    }
    p,.date {
      font-size: 23px;
      font-weight: 400;
      text-align: center;
  }
    .date-picker-container {
      background:rgba(199, 187, 251, 0.741);
      display: flex;
      width:400px;
      height:50px;
      align-items: center;
    }
    #range {
      width:80px;
      height:25px;
      font-size: 17px;
      background: burlywood;
     }
     #range:hover {
      background: blanchedalmond;
      border:2px solid rosybrown;
     }
    label {
      display: none;
    }
  }
  