.map-container {
    width:100vw;
    height: 100vh;
    display: flex;
    gap:50px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background:#98c1d9;
}
input {
    height:30px;
    border-radius: 9px;
    font-size: 18px;
}
button {
cursor: pointer;
  outline: none;
  border: none;
  background-color: #545754;
  padding: 0.3em 1.2em;
  border-radius: 30px;
  font-size: 1.3rem;
  font-weight: 550;
  color: #ffffff;
  background-size: 100% 100%;
  box-shadow: 0 0 0 4px #737673 inset;
}
button:hover {
    box-shadow: 4px 4px 0 #000;
    transform: translate(-4px,-4px);
    background-image: linear-gradient(
        55deg,
        transparent 10%,
        #161616 10% 20%,
        transparent 20% 30%,
        #161616 30% 40%,
        transparent 40% 50%,
        #161616 50% 60%,
        transparent 60% 70%,
        #161616 70% 80%,
        transparent 80% 90%,
        #161616 90% 100%
      );
      animation: background 3s linear infinite;
}
/*button {
    width:100px;
    border-radius: 10px;
    outline: 0;

    align-items: center;
    background:rgb(245, 173, 191);
    border: 1px solid #000;
    border-radius: 14px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 16px;
    gap: 8px;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;
}
button:hover {
    box-shadow: 4px 4px 0 #000;
    transform: translate(-4px,-4px);
}*/
button:focus-visible{
    outline-offset: 1px;
}

.top {
    display: flex;
    gap:20px;
}
#map {
    height:700px;
    width:900px;
}
@media (max-width:600px) {
    .map-container {
        width:100vw;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background:#98c1d9;
      }
    #map {
        height:450px;
        width:400px;
    }
    .top {
        gap:10px;
    }
}