.aside {
  width:100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(rain2.jpeg);
  background-size:100% 100%;
}
.side-bar {
  display:grid;
  gap:40px;
  width:900px;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content:space-between;
}
.sidebar-container {
  display: flex;
  flex-wrap: wrap;
  width:100%;
  align-items: center;
}
.date-picker-container {
  display: flex;
  width:900px;
  gap:14px;
  justify-content: center;
  align-items: center;
}
input[type="date"] {
  font-size: 19px;
  padding:5px;
  width:190px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#range {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(rgba(217, 165, 242, 0.84), rgba(246, 119, 72, 0.84) 50%);
  border-radius: 42px;
  width:120px;
  height:36px;
  border-width: 0;
  box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px,rgba(179, 132, 201, 0.4) 0 8px 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  font-family: Quicksand,sans-serif;
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}
#range:hover {
  background-image: linear-gradient(#B384C9, #6dcbd6 );
} 
label {
  font-size: 20px;
  width:60px;
}
.box-scroll {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position:absolute;
  top:120%;
}
p {
  font-size: 27px;
  font-weight: 400;
  text-align: center;
}
.date {
  font-size: 25px;
  text-align: center;
}
.box {  
  min-width:130px;
  height: 220px;
  background:rgba(199, 187, 251, 0.741);
  border: 2px solid seashell;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.spread {
  display: flex;
}
@media (max-width:600px) {
  .aside {
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(rain2.jpeg);
    background-size:cover;
  }
  .side-bar {
    display:grid;
    gap:40px;
    width:450px;
    position: relative;
    left:0%;
    top:-32%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  .sidebar-container {
    display: flex;
    flex-wrap: wrap;
    max-height: 100vh;
    align-items: center;
  }
  .date-picker-container {
    display:flex;
    width:400px;
    flex-wrap: wrap;
    gap:14px;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  .box-scroll {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position:absolute;
    top:120%;
  }
  p,.date {
    font-size: 18px;
  }
  .box {
    width:150px;
    height:130px;
  }
  span {
    color:white;
  }
  
} 
  