@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Merienda:wght@800&family=Playfair+Display:ital,wght@0,400;1,500&family=Poppins:ital,wght@0,400;0,500;1,400&display=swap');
.container {
    display:flex;
    flex-direction: column;
    border-radius: 10px;
    gap:20px;
    width:500px;
    height:850px;
    color:#fff;
    text-align: center;
    overflow:hidden;
    background:rgba(199, 187, 251, 0.824);
    position: relative;
}
img {
    position: absolute;
    top:19%;
}
p {
    color:black;
}
.wrap {
    display: grid;
    gap:10px;
    grid-template-columns: 100px 100px;
}

.temp {
    font-size: 72px;
    font-weight: 700;
    color:whitesmoke;
    position: absolute;
    top:15%;
    right:10%;
}
.time {
    font-size:26px;
    font-weight: 500;
    color:white;
    position: absolute;
    top:29%;
    right:16%;
}
.image {
    background-image: url(images1.jpeg);
    background-size: cover;
    height:280px;
    display: grid;
    gap:20px;
}
h1 {
    text-align: center;
    height:40px;
    color:white;
}
.weather,.weathers {
    color:black;
    display: grid;
    gap:10px;
    font-size: 22px;
}
.locate {
    display:flex;
    gap:30px;
    justify-content: center;
    width:450px;
    height: 35px;
    position:absolute;
    top:4%;
    right:38%;
}
input {
    width:230px;
    height:30px;
    border-radius: 5px;
    font-size: 18px;
    background: rgb(164, 225, 239);
}
input:hover {
  background: white;
}
input:focus {
  background: rgba(245, 216, 143, 0.954);
}
button {
    width:90px;
    font-size: 18px;
    color:black;
    border-radius: 5px;
    background:rgba(255, 255, 255, 0.775);
    border:3px solid wheat;
}
button:hover {
  background: lightgoldenrodyellow;
}
label {
    font-size: 23px;
    color:white;
    font-family: 'Playfair Display', serif;

}
.date {
    font-size:22px;
    color:black;
}

@media (max-width:789px) {
  .container {
    width: 400px; 
    height:770px; 
    background: rgba(199, 187, 251, 0.83); 
    text-align: center;
    position: relative;
    top:60%;
    margin-top:90px;
  }
  img {
    position: absolute;
    top:14%;
  }
  .temp {
    font-size: 43px;
    font-weight: 700;
    color:whitesmoke;
    position: absolute;
    top:11%;
    right:15%;
  }
  .time {
    position: absolute;
    top:22%;
    right:11%;
  }
  .locate {
    display:flex;
    gap:10px;
    justify-content: center;
    align-items: center;
    width:450px;
    height: 35px;
    position:absolute;
    top:4%;
    right:23%;
    z-index: 2;
  }
  label {
    visibility: hidden;
  }
  button {
    width:80px;
    font-size: 16px;
    height:30px;
    border-radius: 5px;
  }
}

@media (max-width: 600px) {
  .container {
    width: 400px; 
    height:770px; 
    background: rgba(199, 187, 251, 0.83); 
    text-align: center;
    position: relative;
    top:60%;
    margin-top:90px;
  }
  img {
    position: absolute;
    top:14%;
  }
  .temp {
      font-size: 43px;
      font-weight: 700;
      color:whitesmoke;
      position: absolute;
      top:11%;
      right:15%;
  }
  .time {
    position: absolute;
    top:22%;
    right:11%;
  }
  .locate {
    display:flex;
    gap:10px;
    justify-content: center;
    align-items: center;
    width:450px;
    height: 35px;
    position:absolute;
    top:4%;
    right:12%;
    z-index: 2;
  }
  label {
    visibility: hidden;
  }
  button {
    width:80px;
    font-size: 16px;
    height:30px;
    border-radius: 5px;

  }
}