<div class="locate">
    <label for="location">Location:</label>
    <input type="searchbox" id="location" [(ngModel)]="location" (keyup.enter)="searchWeather()" placeholder="Enter location">
    <button (click)="searchWeather()">Search</button>
  </div>
  <div class="container">
    <div class="image">
      <h1>Weather Forecasting</h1>
      <div class="wrap">
  
        <img src="sun2.png" alt="" width="120px" height="120px"
     *ngIf="temperatureData.current_weather?.temperature >= 25">
      <img src="rain1.png" alt="" width="130px" height="130px"
     *ngIf="temperatureData.current_weather?.temperature <= 15">
      <img src="cloud.png" alt="" width="120px" height="100px"
     *ngIf="temperatureData.current_weather?.temperature <= 25 && temperatureData.current_weather?.temperature > 15">

        <div *ngIf="temperatureData" class="weathers">
          <p class="temp">{{ temperatureData?.current_weather?.temperature}}°C</p>
        </div>
        <div *ngIf="weatherData" class="weather">
          <p class="time">{{weatherData.results?.[0].name}}</p>
        </div>
      </div>
    </div>
    <div class="date">Date: {{date| date}}</div>
  
    <div *ngIf="weatherData" class="weather">
        <h2>Location Details</h2>
    </div>
  
    <div *ngIf="weatherData" class="weather">
      <p>Timezone: {{weatherData.results?.[0].timezone}}</p>
      <p>Country: {{ weatherData.results?.[0].country }}</p>
    </div>
    <div *ngIf="weatherData" class="weather">
      <h2>Weather Details</h2>
    </div>
    <div *ngIf="weatherData" class="weather">
      <p>Latitude: {{weatherData.results?.[0].latitude}}</p>
      <p>Longitude: {{weatherData.results?.[0].longitude}}</p>
      <p>Population:{{weatherData.results?.[0].population}}</p>
      <p>Elevation:{{weatherData.results?.[0].elevation}}</p>
    </div>
  
    <div *ngIf="temperatureData" class="weathers">
        <p>WeatherCode:{{ getWeatherDescription(temperatureData?.current_weather?.weathercode)}}</p>
        <p>Wind Speed:{{temperatureData?.current_weather?.windspeed}}km/hr</p>
        <p>Wind Direction:{{temperatureData?.current_weather?.winddirection}}°</p>
        <p>Humidity:{{temperatureData?.hourly?.relativehumidity_2m[0]}}%</p>
  
    </div>
  </div>
